# https://github.com/MarcoIeni/release-plz/blob/main/website/docs/extra/releasing-binaries.md

name: Release-plz

on:
  workflow_call:
    secrets:
      RELEASE_PLZ_TOKEN:
        description: "Personal access token"
        required: true
      CARGO_REGISTRY_TOKEN:
        description: "Token to publish to crates.io"
        required: true

jobs:
  release-plz:
    name: Release-plz
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEASE_PLZ_TOKEN }}
          submodules: recursive
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
      - name: Run release-plz
        uses: MarcoIeni/release-plz-action@v0.5
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
