name: CD

on:
  workflow_call:
    inputs:
      bin:
        description: "Binary name (non-extension portion of filename)"
        required: true
        type: string

jobs:
  cd:
    name: ${{ matrix.os }} / CD
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
      - name: Upload rust binary
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: ${{ inputs.bin }}
          zip: all
          tar: none
          token: ${{ secrets.GITHUB_TOKEN }}
